.icons{
	width:80rpx;
	height:100rpx;
	background-size:140rpx;
	&.kq{
		background-position:6rpx 36.1%;
	}
	&.ng{
		background-position:6rpx 38.8%;
	}
	&.xb{
		width: 100rpx;
		background-position:10rpx 40.8%;
	}
	&.bs{
		background-position:6rpx 43.5%;
	}
	&.qg{
		background-position:6rpx 45.9%;
	}
	&.jm{
		width: 100rpx;
		background-position:6rpx 48.4%;
	}
	&.xt{
		background-position:6rpx 50.9%;
	}
	&.gc{
		width: 100rpx;
		background-position:6rpx 53.3%;
	}
	&.picc{
		width: 110rpx;
		background-position:6rpx 55.4%;
	}
	&.pg{
		background-position:6rpx 58.3%;
	}
	&.lb{
		width: 100rpx;
		background-position:6rpx 60.8%;
	}
	&.zs{
		width: 100rpx;
		background-position:6rpx 63.1%;
	}
	&.fb{
		width: 100rpx;
		background-position:6rpx 67.9%;
	}
	&.ln{
		width: 100rpx;
		background-position:6rpx 72.9%;
	}
	&.tnb{
		background-position:0 75.3%;
	}
	&.hx{
		background-position:6rpx 77.9%;
	}
	&.js{
		background-position:0 80.3%;
	}
	&.gxy{
		width: 100rpx;
		background-position:6rpx 85.1%;
	}
	&.wh{
		background-position:0 87.8%;
	}
	&.zz{
		width: 100rpx;
		background-position:6rpx 90.0%;
	}
	&.yw{
		width: 100rpx;
		background-position:6rpx 95.1%;
	}
	&.gz{
		width: 100rpx;
		background-position:6rpx 97.5%;
	}
}