html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,table,th,td,textarea{margin:0; padding:0;}
html, button, input, select, textarea{font:14px/1.5 "Microsoft YaHei", "SimSun", Tahoma, Geneva, sans-serif; color:#444;resize:none;outline:none;}
textarea{border:1px solid #b7b7b7;}
table{border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal; font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5{font-size:100%;}
h6{font-size:14px;font-weight:500;}
q:before,q:after{content:'';}

a{text-decoration:none;}
a:hover , a:active, a:focus{text-decoration:none;}
a, a:active, a:focus, input{outline:none;}
