//- 经过样式函数

//- 减透明度
@mixin hover_o($alpha,$speed) {
    cursor: pointer;

    &:hover{
        opacity: $alpha;
        transition: $speed;
    }
}

//- 放大
@mixin hover_b($size, $speed) {
    cursor: pointer;

    &:hover{
        transform: scale($size);
        transition: $speed;
    }
}
