<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-xgpush" version="4.2.0">
  <name>cordova-plugin-xgpush</name>
  <description>Tencent XGPush Plugin</description>
  <license>MIT</license>
  <author>sunlu</author>
  <keywords>cordova, push, chinese,xgpush</keywords>
  <repo>https://github.com/sunlu/cordova-plugin-xgpush.git</repo>
  <issue>https://github.com/sunlu/cordova-plugin-xgpush/issues</issue>

  <preference name="ACCESS_ID" />
  <preference name="ACCESS_KEY" />
  <preference name="IOS_ACCESS_ID" />
  <preference name="IOS_ACCESS_KEY" />

  <js-module name="xgpush" src="www/xgpush.js">
    <clobbers target="xgpush" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <hook type="after_plugin_add" src="scripts/after_plugin_add.js" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="XGPush">
        <param name="android-package" value="net.sunlu.xgpush.XGPushPlugin" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest" mode="merge">
      <uses-permission android:name="android.permission.GET_TASKS"/>
      <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE" />
      <permission android:name="com.xiaoniu.hawk.push.permission.MESSAGE" android:protectionLevel="signature"/>
      <uses-permission android:name="com.xiaoniu.hawk.push.permission.MESSAGE" />
      <!--  兼容flyme3.0配置权限-->
      <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE" />
      <permission android:name="com.xiaoniu.hawk.permission.C2D_MESSAGE" android:protectionLevel="signature" />
      <uses-permission android:name="com.xiaoniu.hawk.permission.C2D_MESSAGE"/>

      <permission android:name="com.xiaoniu.hawk.permission.MIPUSH_RECEIVE" android:protectionLevel="signature" />
      <uses-permission android:name="com.xiaoniu.hawk.permission.MIPUSH_RECEIVE" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application" mode="merge">
      <service android:name="com.meizu.cloud.pushsdk.NotificationService" android:exported="true"/>
      <receiver android:name="com.meizu.cloud.pushsdk.SystemReceiver" >
        <intent-filter>
          <action android:name="com.meizu.cloud.pushservice.action.PUSH_SERVICE_START"/>
          <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
      </receiver>

      <receiver android:name="com.tencent.android.mzpush.MZPushMessageReceiver">
        <intent-filter>
          <!-- 接收push消息 -->
          <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
          <!-- 接收register消息-->
          <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK"/>
          <!-- 接收unregister消息-->
          <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK"/>
          <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
          <action android:name="com.meizu.c2dm.intent.RECEIVE" />
          <category android:name="com.xiaoniu.hawk" />
        </intent-filter>
      </receiver>

      <service android:name="com.xiaomi.push.service.XMPushService" android:enabled="true" android:process=":pushservice" />
      <service android:name="com.xiaomi.push.service.XMJobService" android:enabled="true" android:exported="false" android:permission="android.permission.BIND_JOB_SERVICE" android:process=":pushservice" />
      <service android:name="com.xiaomi.mipush.sdk.PushMessageHandler" android:enabled="true" android:exported="true" />
      <service android:name="com.xiaomi.mipush.sdk.MessageHandleService" android:enabled="true" />
      <receiver android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver" android:exported="true" >
        <intent-filter>
          <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

          <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
      </receiver>

      <receiver android:name="com.xiaomi.push.service.receivers.PingReceiver" android:exported="false" android:process=":pushservice" >
        <intent-filter>
          <action android:name="com.xiaomi.push.PING_TIMER" />
        </intent-filter>
      </receiver>

      <receiver android:exported="true" android:name="com.tencent.android.mipush.XMPushMessageReceiver">
        <intent-filter>
          <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
        </intent-filter>
        <intent-filter>
          <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
        </intent-filter>
        <intent-filter>
          <action android:name="com.xiaomi.mipush.ERROR" />
        </intent-filter>
      </receiver>

      <meta-data
              android:name="com.huawei.hms.client.appid"
              android:value="100840771" >
      </meta-data>

      <activity
              android:name="com.huawei.hms.activity.BridgeActivity"
              android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
              android:excludeFromRecents="true"
              android:exported="false"
              android:hardwareAccelerated="true"
              android:theme="@android:style/Theme.Translucent" >
        <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
      </activity>

      <provider
              android:name="com.huawei.hms.update.provider.UpdateProvider"
              android:authorities="com.xiaoniu.hawk.hms.update.provider"
              android:exported="false"
              android:grantUriPermissions="true" >
      </provider>

      <receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver" >
        <intent-filter>
          <action android:name="com.huawei.intent.action.PUSH" />
        </intent-filter>
      </receiver>

      <receiver android:name="com.tencent.android.hwpush.HWPushMessageReceiver" >
        <intent-filter>
          <action android:name="com.huawei.android.push.intent.REGISTRATION" />
          <action android:name="com.huawei.android.push.intent.RECEIVE" />
          <action android:name="com.huawei.android.push.intent.CLICK" />
          <action android:name="com.huawei.intent.action.PUSH_STATE" />
        </intent-filter>
      </receiver>
    </config-file>

    <source-file src="src/android/XGPushPlugin.java" target-dir="src/net/sunlu/xgpush" />
    <source-file src="src/android/XGPushReceiver.java" target-dir="src/net/sunlu/xgpush" />
    <source-file src="src/android/XGPushCallback.java" target-dir="src/net/sunlu/xgpush" />
    <!-- Tencent XGPush SDK  -->
   <framework src="sdk/android/build-extras.gradle" custom="true" type="gradleReference" />
  </platform>
  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="XGPush">
        <param name="ios-package" value="CDVXGPushPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <config-file target="*-Info.plist" parent="XGPushMeta">
      <dict>
        <key>AccessID</key>
        <integer>$IOS_ACCESS_ID</integer>
        <key>AccessKey</key>
        <string>$IOS_ACCESS_KEY</string>
      </dict>
    </config-file>
    <!-- Tencent XGPush SDK -->
    <header-file src="sdk/ios/XGPush.h" />
    <source-file src="sdk/ios/libXG-SDK.a" framework="true" />
    <!-- Cordova Plugin -->
    <header-file src="src/ios/AppDelegate+CDVXGPush.h" />
    <source-file src="src/ios/AppDelegate+CDVXGPush.m" />
    <header-file src="src/ios/CDVXGPushPlugin.h" />
    <source-file src="src/ios/CDVXGPushPlugin.m" />
    <!-- Dependencies -->
    <framework src="libz.tbd" />
    <framework src="libsqlite3.0.tbd" />
    <framework src="SystemConfiguration.framework" />
    <framework src="CoreTelephony.framework" />
    <framework src="UserNotifications.framework" />
  </platform>
</plugin>
